<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
		<div class="footer-col">
			<ul class="contact-list">
			   <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
			</ul>
		</div>
	<div class="social-links">
		<ul class="social-media-list">
		<li><a rel="me" href="https://github.com/alexsen01" target="_blank" title="alexsen01">
			<svg class="svg-icon grey"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg>
			</a></li>
		<li><a rel="me" href="https://be.linkedin.com/in/alex-senave-9197ba143" target="_blank" title="alex senave">
			<svg class="svg-icon grey"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg>
			</a></li>
		</ul>
		</div>
	</div>
  </div>
</footer>
